*{
	margin: 0px;
	padding: 0px;
}
body{
	width: 1920px;
	height: 1080px;
}
section{
	width: 100%;
	height: 100%;
	background: #0099CC;
	animation: bg 5s linear infinite;
	/*隐藏溢出区域*/
	overflow: hidden;
	/*相对定位*/
	position: relative;
}
@keyframes bg{
	from{
		background: #0099CC;
	}
	to{
		background: #000000;
	}
}
div{
	width: 300%;
	height: 100%;
	position: absolute;
}
#first{
	background: url(../img/cloud_one.png);
	animation: cloud 10s linear infinite;
}
#second{
	background: url(../img/cloud_two.png);
	animation: cloud 15s linear infinite;
}
#last{
	background: url(../img/cloud_three.png);
	animation: cloud 20s linear infinite;
}

@keyframes cloud{
	from{
		left: 0%;
	}
	to{
		left: -200%;
	}
}
